/* body {
  margin: 2;
  padding: 0;
  background-image: url("/src/imagenes/fondo.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
} */

.column {
  display: flex;
  flex-direction: column;
  background-image: url("/src/imagenes/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.buttonVenta {
  width: 250px;
  height: 150px;
  margin: 20px;
  margin-left: 40px;
  border-radius: 20px;
  font-size: 35px;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  background-color: darkorchid;
  transition: all 0.3s ease; /* Agrega una transición para suavizar el efecto de cambio */
}

.buttonVenta:hover {
  transform: scale(
    1.3
  ); /* Escala el botón al 110% al pasar el ratón por encima */
}

.buttonClientes {
  width: 250px;
  height: 150px;
  margin: 20px;
  margin-left: 40px;
  border-radius: 20px;
  font-size: 35px;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  background-color: mediumvioletred;
  transition: all 0.3s ease; /* Agrega una transición para suavizar el efecto de cambio */
}

.buttonClientes:hover {
  transform: scale(
    1.3
  ); /* Escala el botón al 110% al pasar el ratón por encima */
}

.buttonMercaderia {
  width: 250px;
  height: 150px;
  margin: 20px;
  margin-left: 40px;
  border-radius: 20px;
  font-size: 35px;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  background-color: pink;
  transition: all 0.3s ease; /* Agrega una transición para suavizar el efecto de cambio */
}

.buttonMercaderia:hover {
  transform: scale(
    1.3
  ); /* Escala el botón al 110% al pasar el ratón por encima */
}

.informacion-container {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde abajo según tus preferencias */
  right: 10px; /* Ajusta la distancia desde la derecha según tus preferencias */
  display: flex;
  align-items: center;
  font-size: 25px;
}

.buttonInformacion {
  font-size: 30px; /* Ajusta el tamaño del texto del botón según tus preferencias */
  border-radius: 50%;
  padding: 10px;
  color: aliceblue;
  background-color: black;
}
